.example-card {
    width: 80%;
    margin:10px auto;
    box-shadow: hotpink;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .flag {
      height: 200px;
  }